extends template
block content
    div
        h2 Hello #{userName}!
            br
        h4 Please click bellow to activate your account.
        a(href=`${frontendUrl}/realtors/activate/${token}`) Activate
