extends template
block content
    div
        h1 Hi #{userName}!
            br
        p Please click bellow to complete the reset password on your account.
        a(href=`${frontendUrl}/realtors/password/reset/${token}`) Reset password
            br
            br
        p Thanks for helping us keep your account secure.
