extends template
block content
    div
        h1 Hi #{userName}!
            br
        p You've successfully changed your test-task project password .
            br
            br
        p Thanks for using test-task project.
