extends template
block content
    div
        h2 Hello #{userName}!
            br
        h4  Welcome to the jungle!
        p Thanks for joining for us! We're happy to have you.
        br
        | You now have account. Thanks to him, you can use various products, applications and services.
